
*{
    padding: 0%;
    margin: 0%;
}
ul{
    list-style: none;
}
.title{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 40%;
}
.navbar-container{
    display: flex;
    height: 7vh;
    justify-content: space-between;
    font-weight: 600;

}

.logo-container{
    display: flex;

    width: 50%;
    flex-flow: row wrap;
}
.logo-container img{
    width:7vw

}

.nav-list-container{
    display: flex;
    
    width: 25%;
    justify-content: space-between;
    align-items: center;
}

.logo-list {
    display: flex;
    justify-content: space-evenly;

    width: 50%;
    align-items: center;
}

.nav-list >ul{
    display: flex;
    justify-content: space-between;
    width:100%;
}

.nav-list {
   width: 55%;
}

.login-button{
    color: white;
    background-color: red;
    border-radius: 28px;
    /* border: 0px solid black; */
    padding: 6px;
    font-weight: 600;
    font-size: 1em;
    margin-left: 5px;
    margin-right: 2px;
}

.sign-up{
    color: black;
    background-color: rgb(218, 218, 218);
    border-radius: 28px;
    /* border: 0px solid black; */
    font-size: 1em;
    padding: 6px;
    margin-left: 5px;
    margin-right: 5px;
}

.container {
    display: flex;
    border: 1px solid red;
}

.container > div{
    border: 1px solid red;
    flex-grow: 2.5;
    height: 87vh;
}

.middle{
    flex-grow: 4 !important;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.masonry-middle {
    height: 50% !important;
    width: 60%;
}

.masonry-middle >div {
    margin: 10px;
}

.masonry >div{
    border: 1px solid black;
    margin: 3px;
    width: 42%;
    border-radius: 15px;
    margin-top: 10px;
    
}

.masonry{
    display: flex;
    flex-wrap: wrap;
   align-items: end;
    flex-direction: column-reverse;
        
   
}

.masonry >div{
    height: 40%;
}

.masonry-bottom-1{
    height: 32% !important;
}

.masonry-bottom-2{
    height:  22% !important;
}


.middle-div{
    display: flex;
    height: 55%;
    width: 100%;

}

.mid-cards-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: end;
}

.mid-cards-container >div{
    width: 30%;
    
}


.card{
    display: flex;
    flex-flow: column-reverse;
    
    height: 100%;
}

.card > div{
   border: 1px solid black;
   border-radius: 15px;
   margin-top: 10px;
}